body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 25px 0;
    border-bottom: 1px solid #bfbfbf;
}

h2 .count-tasks {
    border-radius: 20px;
    border: 2px solid #2a2f36;
    color: #2a2f36;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    background: #ff9e9e;
}
h2 .count-tasks.done{
    background:  aquamarine;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #333;
    padding: 10px 0;
    margin-bottom: 40px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo {
    width: 100px;
    line-height: 50px;
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
}

.header .container .form {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.header .container .input-group{
    width: calc(100% - 168px);
    margin-right: 12px;
}

.header .container .form input,
.header .container .form textarea {
    padding: 8px;
    text-indent: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s border;
    font-weight: 300 ;
    width: 100%;
    /*margin-bottom: 16px;*/
}

.header .container .form input:focus,
.header .container .form textarea:focus{
    border: 1px solid #12c0dd;
    box-shadow: 0px 0px 5px 2px #11a8dc8a;
}
.header .container .form textarea{
    margin-top: 12px;
    resize: none;
}

.btn {
    background-color: #12c0dd;
    border: 1px solid #12c0dd;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    /*height: 40px;*/
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.btn:not([disabled]):hover,
.btn:not([disabled]):focus{
    background-color: #0dd6f8;
    border-color: #0dd6f8;
    box-shadow: 0px 0px 5px 2px #11a8dc8a;
}

button:disabled,
button[disabled]{
    opacity: 0.3;
}


.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px 16px 16px 16px;
    line-height: 32px;
    margin-bottom: 16px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.6s;
}
.task-list li:not(.disabled):hover,
.task-list li.active{
    opacity: 1!important;
    background: whitesmoke;
    box-shadow: 0px 0px 24px #33333333;
    transition: 0.6s;
}
.task-list li.active{
    /*border: 1px solid #bfbfbf;*/

}

.task-list.complete-list li {
    border-left-color: #999;
    opacity: .5;
}
.task-list {
    padding-left: 0;
}

input[type="checkbox"] + span {
    padding-left: 10px;
}
.edit-task input[type="text"],
.edit-task textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid transparent;
}

.edit-task input[type="text"]{
    margin-right: 16px;
    font-size: 18px;
    font-weight: 400;

}
.edit-task input[type="text"]:focus,
.edit-task textarea:focus{
    border-color:  #bfbfbf;
}
.edit-task textarea {
    padding: 0;
    margin: 16px 16px 16px 0;
    min-height: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    resize: none;
}
.invalid-input{
    border-color: #e41e41!important;
}

.btn-remove, .btn-edit, .btn-cancel{
    border: 1px solid #2a2f36;
    font-size: 12px;
    border: 2px solid #2a2f36;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    outline: none;
    transition: 0.2s;

}
.w-100{
    width: 100%;
}

.btn-remove:not([disabled]):hover,
.btn-edit:not([disabled]):hover,
.btn-cancel:not([disabled]):hover {
    background-color: #535151;
    border-color: #535151;
    cursor: pointer;
}
.btn-remove:not([disabled]):focus,
.btn-edit:not([disabled]):focus,
.btn-cancel:not([disabled]):focus,
input[type="checkbox"]:focus + span::before{
    box-shadow: 0px 0px 5px 2px #11a8dc8a;
}

.description{
    white-space: pre-line;
    margin: 16px 16px 16px 0;
    font-size: 16px;
    line-height: 24px;
}
.title{
    font-size: 18px;
    font-weight: 400;
}
.tip{
    position: absolute;
    top: 6px;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    padding: 0;
    margin: 0;
    font-size: 10px;
    line-height: 16px;
    color: #5c2020;
}
li .btn-group{
    width: 130px;
}
.contents{
    width: calc(100% - 130px);
}

.checkbox-group{
    position: relative;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 0;
    /*cursor:pointer;*/
}
input[type="checkbox"]:checked + span,
input[type="checkbox"]:not(:checked) + span{
    position: relative;
    padding-left: 32px;
    /*cursor:pointer;*/
}
input[type="checkbox"]:checked + span::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #4fc1de;
}
input[type="checkbox"]:checked + span::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-color: #4fc1de;
}
input[type="checkbox"]:not(:checked) + span::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #5d575f;
}
input[type="checkbox"]:not(:checked) + span::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-color: #7d25a9;
}
input[type="checkbox"]:not(:disabled){
    cursor: pointer;
}
input[type="checkbox"]:disabled + span::before{
    opacity: 0.5;
}
